body
{
    font-family: 'Copperplate Gothic';
}

p
{
    font-family: Arial;
}

table
{
    width: 100%;
}

.content
{
    padding: 5px 50px 5px 50px;
}

/* - header and footer designs - */

.banner
{
    height: 219px;
    width: auto;
    background-color: red;
}

.bannerImage
{
    width: 100%;
    padding: 0px 10px 0px 10px;
    height: 219px;
    vertical-align: middle;
}

.footer
{
    text-align: center;
    color: white;
    background-color: #585858;
    font-size: 12px;
}

/* - navigation controls - */

.navigation
{
    text-align: center;
    vertical-align: middle;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
}

.navHorizontal
{
    display: inline;
    padding: 1px 10px 1px 10px;
}

/* - hyperlinks design - */

a:link, a:visited
{
    color: white;
    text-shadow: 1px 1px 5px red;
}

a:hover, a:active
{
    color: red;
    text-shadow: 1px 1px 5px white;
}